<!DOCTYPE html>
@model Profil
<html>
    <head>
        <link rel="stylesheet" href="~/css/Profil.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <i id="menuBtn" class="fa-solid fa-bars"></i>
        <div class="sideMenu">
            <i id="xBtn" class="fa-solid fa-x"></i>
            <img id="logoMenu" src="~/images/logoMenu.png" />
            <div id="butonMeniu">
                <a asp-controller="Profil" asp-action="Index">
                    <i class="fa-solid fa-circle-user"></i>
                    <p>Profil</p>
                </a>
            </div>
            <div id="butonMeniu">
                <i class="fas fa-home"></i>
                <p>For You</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-users-between-lines"></i>
                <p>New Travel Group</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-plane"></i>
                <p>Search Destination</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-hotel"></i>
                <p>Find Accommodation</p>
            </div>
             <div id="butonMeniu">
                <i class="fas fa-map"></i>
                <p>Travel Map</p>
            </div>
            <div class="butoaneJos">
                <a asp-controller="Settings" asp-action="Index"><div id="butonMeniu">
                <i class="fa-solid fa-gear"></i>
                    <p>Settings</p>
                </div></a>
                <div id="butonMeniu" class="logoutBtn">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                </div>
            </div>
        </div>
        <div id="PaginaProfil">
            <div id="sectiuneSus">
                <img id="imgProf" src="@Model.ImagineProfil" />
                <div id="stats">
                    <h5>@Model.User.UserName</h5>
                    <div id="dateFllw">
                        <p>0 posts </p>
                        <p>0 followers</p>
                        <p>0 following</p>
                    </div>
                    <p id="bio">@Model.Bio</p>
                </div>
            </div>
            <div id="butoanePaginiProfil">
                <button id="PostsProfil">Posts</button>
                <button id="TravelGrProfil">Travel Groups</button>
                <button id="MentionedProfil">Tagged</button>
            </div>
            <hr />
            <div id="paginaPostari">
                <img src="~/images/nophoto.png" />
                <br />
                <button id="addPost">New Post</button>
                <div id="newPostForm">
                    <i id="xBtnFormPost" class="fa-solid fa-x"></i>
                    <form method="post" enctype="multipart/form-data">
                        <div id="addPhotos">
                            <input name="FisiereMedia" type="file" id="addMedia" accept="image/*,video/*" multiple />  
                            <label for="addMedia">
                                <img for="FisiereMedia" id="AddPozePostareForm" src="~/images/addPoza.png" />   
                            </label>

                        </div>
                        <div id="descrierePoze">
                            <label id="addLocatie">Location</label>
                            <input type="text" />
                            <label id="addDescriere">Description</label>
                            <textarea placeholder="Add a Description"></textarea>
                        </div>
                    </form>
                </div>
            </div>
        <div id="paginaTravelGr">
            <img src="~/images/notrGr.png" />
            <br />
            <button id="addPost">New Travel Group</button>
        </div>
        <script>
            window.onload=function(){
                document.getElementById("PostsProfil").style.borderBottom = "1px solid green";
                document.getElementById("paginaPostari").style.display="flex";
                document.getElementById("paginaTravelGr").style.display="none";
            };
              document.getElementById("PostsProfil").addEventListener("click", () => {
              document.getElementById("PostsProfil").style.borderBottom = "1px solid green";
              document.getElementById("TravelGrProfil").style.borderBottom = "none";
              document.getElementById("MentionedProfil").style.borderBottom = "none";
              document.getElementById("paginaPostari").style.display="flex";
              document.getElementById("paginaTravelGr").style.display="none";
            });
              document.getElementById("TravelGrProfil").addEventListener("click", () => {
              document.getElementById("TravelGrProfil").style.borderBottom = "1px solid green";
              document.getElementById("PostsProfil").style.borderBottom = "none";
              document.getElementById("MentionedProfil").style.borderBottom = "none";
              document.getElementById("paginaPostari").style.display="none";
              document.getElementById("paginaTravelGr").style.display="flex";
            });
              document.getElementById("MentionedProfil").addEventListener("click", () => {
              document.getElementById("MentionedProfil").style.borderBottom = "1px solid green";
              document.getElementById("PostsProfil").style.borderBottom = "none";
              document.getElementById("TravelGrProfil").style.borderBottom = "none";
              document.getElementById("paginaPostari").style.display="none";
              document.getElementById("paginaTravelGr").style.display="none";
            });
        </script>
        </div>
    </body>
    <script src="~/js/profil.js"></script>
</html>