<!DOCTYPE html>
@model Profil
<html>
    <head>
        <link rel="stylesheet" href="~/css/Profil.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </head>
    <body>
        <i id="menuBtn" class="fa-solid fa-bars"></i>
        <div class="sideMenu">
            <i id="xBtn" class="fa-solid fa-x"></i>
            <img id="logoMenu" src="~/images/logoMenu.png" />
            <div id="butonMeniu">
                <i class="fa-solid fa-circle-user"></i>
                <p id="paginaCurenta">Profil</p>
            </div>
            <div id="butonMeniu">
                <i class="fas fa-home"></i>
                <p>For You</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-users-between-lines"></i>
                <p>New Travel Group</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-plane"></i>
                <p>Search Destination</p>
            </div>
            <div id="butonMeniu">
                <i class="fa-solid fa-hotel"></i>
                <p>Find Accommodation</p>
            </div>
             <div id="butonMeniu">
                <i class="fas fa-map"></i>
                <p>Travel Map</p>
            </div>
            <div class="butoaneJos">
                <div id="butonMeniu">
                <i class="fa-solid fa-gear"></i>
                    <p>Settings</p>
                </div>
                <div id="butonMeniu" class="logoutBtn">
                    <i class="fas fa-sign-out-alt"></i>
                    <p>Logout</p>
                </div>
            </div>
        </div>
        <div id="PaginaProfil">
            <div id="sectiuneSus">
                <img id="imgProf" src="@Model.ImagineProfil" />
                <div id="stats">
                    <h5>@Model.User.UserName</h5>
                    <div id="dateFllw">
                        <p>0 postari </p>
                        <p>0 followrs</p>
                        <p>0 following</p>
                    </div>
                    <p id="bio">@Model.Bio</p>
                </div>
                <div id="butoane">
                    <button id="editPr">Edit</button>
                    <button id="arhivaPr">Arhiva</button>
                </div>

            </div>
            <div id="butoanePaginiProfil">
                <button id="PostsProfil">Posts</button>
                <button id="TravelGrProfil">Travel Groups</button>
                <button id="MentionedProfil">Tagged</button>
            </div>
            <script>
                window.onload=function(){
                    document.getElementById("PostsProfil").style.borderBottom = "1px solid aquamarine";
                };
              document.getElementById("PostsProfil").addEventListener("click", () => {
              document.getElementById("PostsProfil").style.borderBottom = "1px solid aquamarine";
              document.getElementById("TravelGrProfil").style.borderBottom = "none";
              document.getElementById("MentionedProfil").style.borderBottom = "none";
            });
                          document.getElementById("TravelGrProfil").addEventListener("click", () => {
              document.getElementById("TravelGrProfil").style.borderBottom = "1px solid aquamarine";
              document.getElementById("PostsProfil").style.borderBottom = "none";
              document.getElementById("MentionedProfil").style.borderBottom = "none";
            });
                                      document.getElementById("MentionedProfil").addEventListener("click", () => {
              document.getElementById("MentionedProfil").style.borderBottom = "1px solid aquamarine";
              document.getElementById("PostsProfil").style.borderBottom = "none";
              document.getElementById("TravelGrProfil").style.borderBottom = "none";
            });
            </script>
            <hr />
        </div>
    </body>
    <script src="~/js/profil.js"></script>
</html>