<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="~/css/Profil.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
    </head>

    <body>
        <i id="menuBtn" class="fa-solid fa-bars"></i>
        <div class="sideMenu">
            <i id="xBtn" class="fa-solid fa-x"></i>
            
            <img id="logoMenu" src="~/images/logoMenu.png" />
        </div>
        
    </body>
    <script src="~/js/profil.js"></script>
</html>