<!DOCTYPE html>
@model Profil
<html>
<head>
    <link rel="stylesheet" href="~/css/Profil.css">
    <link rel="stylesheet" href="~/css/Settings.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
</head>
<body>
    <i id="menuBtn" class="fa-solid fa-bars"></i>
    <div class="sideMenu">
        <i id="xBtn" class="fa-solid fa-x"></i>
        <img id="logoMenu" src="~/images/logoMenu.png" />
        <div id="butonMeniu">
            <a asp-controller="Profil" asp-action="Index">
            <i class="fa-solid fa-circle-user"></i>
            <p>Profil</p></a>
        </div>
        <div id="butonMeniu">
            <i class="fas fa-home"></i>
            <p>For You</p>
        </div>
        <div id="butonMeniu">
            <i class="fa-solid fa-users-between-lines"></i>
            <p>New Travel Group</p>
        </div>
        <div id="butonMeniu">
            <i class="fa-solid fa-plane"></i>
            <p>Search Destination</p>
        </div>
        <div id="butonMeniu">
            <i class="fa-solid fa-hotel"></i>
            <p>Find Accommodation</p>
        </div>
        <div id="butonMeniu">
            <i class="fas fa-map"></i>
            <p>Travel Map</p>
        </div>
        <div class="butoaneJos">
            <a asp-controller="Settings" asp-action="Index">
                <div id="butonMeniu">
                    <i class="fa-solid fa-gear"></i>
                    <p id="paginaCurenta">Settings</p>
                </div>
            </a>
            <div id="butonMeniu" class="logoutBtn">
                <i class="fas fa-sign-out-alt"></i>
                <p>Logout</p>
            </div>
        </div>
    </div>
    <div id="setariPage">
        <h2 id="titluSet">Settings</h2>
        <div id="setBtn">
            <button id="ProfilSet">Profile</button>
            <button id="ConfSet">Privacy</button>
            <button id="Arhive">Arhive</button>
        </div>
        <div id="paginaProfilSet">
            <h5>Edit Profile</h5>

            <form method="post" enctype="multipart/form-data" asp-controller="Settings" asp-action="EditProfil">
                <input type="hidden" asp-for="UserId" />
                <input type="hidden" asp-for="Id" />
                <div id="schimbaImagine">
                    <img id="previzualizare" src="@Model.ImagineProfil" />
                    <input name="ImagineProfil" type="file" id="ImagineProfil" accept="image/png, image/jpg, image/jpeg" />
                    <div id="pozeSet">
                        <label for="ImagineProfil">Select A Photo</label>
                        <input type="hidden" id="ResetImage" name="ResetImage" value="false" />
                        <label id="removeProfileImg">Delete Profile Photo</label>
                    </div>
                    <span asp-validation-for="ImagineProfil" class="text-danger"></span>
                </div>
                <br />
                <div id="inputUsername">
                    <label asp-for="User.UserName">Username</label>
                    <input asp-for="User.UserName" type="text" maxlength="50" />
                    <span asp-validation-for="User.UserName" class="text-danger"></span>
                </div>
      
                <br />
                <h5 id="bioh5">Bio</h5>
                <textarea asp-for="Bio" maxlength="255" value="@Model.Bio" placeholder="Bio"></textarea>
                <br />
                <button type="submit">Save Changes</button>
            </form>
            @section Scripts {
                <partial name="_ValidationScriptsPartial" />
            }
        </div>
    <script>
        window.onload=function(){
            document.getElementById("ProfilSet").style.borderBottom="2px solid green";
        }
        document.getElementById("ProfilSet").addEventListener("click",function(){
                document.getElementById("ProfilSet").style.borderBottom="2px solid green";
                document.getElementById("ConfSet").style.borderBottom="none";
                document.getElementById("Arhive").style.borderBottom="none";
        })
        document.getElementById("ConfSet").addEventListener("click",function(){
                document.getElementById("ConfSet").style.borderBottom="2px solid green";
                document.getElementById("ProfilSet").style.borderBottom="none";
                document.getElementById("Arhive").style.borderBottom="none";
        })
        document.getElementById("Arhive").addEventListener("click",function(){
                document.getElementById("Arhive").style.borderBottom="2px solid green";
                document.getElementById("ProfilSet").style.borderBottom="none";
                document.getElementById("ConfSet").style.borderBottom="none";
        })
    </script>
    </div>

</body>
<script src="~/js/settings.js"></script>
</html>
