.rand-descriere {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 15px;
    border-radius: 12px;
    margin-bottom: 20px;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    border: 1px solid rgba(127, 255, 212, 0.4);
    position: relative;
    transition: transform 0.2s;
}

.rand-descriere:hover {
    transform: translateY(-2px);
}

.comentariu-top {
    display: flex;
    align-items: flex-start;
    gap: 12px;
    margin-bottom: 8px;
    padding-right: 20px;
}

.optiuni-comentariu {
    position: absolute; 
    top: 15px;
    right: 15px;
    color: #94a3b8;
    cursor: pointer;
    font-size: 14px;
    padding: 5px;
}

.optiuni-comentariu:hover {
    color: #0f172a;
    background-color: #f1f5f9;
    border-radius: 50%;
}
.zona-actiuni-com {
    display: flex;
    flex-direction: row;
    align-items: center; 
    gap: 20px; 

    font-size: 12px;
    color: #64748b;
    margin-top: 5px;
    margin-left: 48px;
}

.btn-like-com, .btn-raspunsuri {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
    font-weight: 600;
    white-space: nowrap;
}

.btn-like-com:hover {
    color: #e11d48;
}

.btn-raspunsuri:hover {
    color: #008080;
}

.data-text {
    font-size: 11px;
    color: #94a3b8;
    margin-right: auto; 
}
