#LoginButton {
  background-color: #fff !important;
  color: black !important;
  border-radius: 30vh;
  width: 15%;
  border: 1px black solid !important;
}

#divPolaroid1 {
  display: flex;
  justify-content: center;
}

#divPolaroid2 {
  display: flex;
  justify-content: center;
}

#divPolaroid3 {
  display: flex;
  justify-content: center;
}

#ImaginiPolaroid {
  display: flex;
  flex-direction: row;
}

#ButonFormular:hover {
  border: 1px black solid !important;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
  background-color: #90EE90 !important;
  transition: linear 0.2s;
}

#ButonFormular {
  background-color: #fff !important;
  color: black !important;
  border-radius: 30vh;
  width: 15%;
  border: 1px black solid !important;
}
.fit-cover {
    object-fit: cover;
}

body {
    background: linear-gradient(to top, #87ceeb, #ffffff);
    background-size: auto;
    height: 100%;
}

.navbar {
    background: transparent !important;
    box-shadow: none !important;
    backdrop-filter: none !important;
    -webkit-backdrop-filter: none !important;
}

# {
    background-color: #fff !important;
    color: black !important;
    border-radius: 100px;
    width: 10vw;
    border: 1px black solid !important;
}

#LoginButton:hover {
    border: 1px black solid !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    background-color: #90EE90 !important;
    transition: linear 0.2s;
}

#ButonRegister {
    color: black !important;
    border-radius: 30vh;
    border: 1px black solid !important;
    background-color: transparent !important;
}

    #ButonRegister:hover {
        border: 1px black solid !important;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
        background-color: #90EE90 !important;
        transition: linear 0.2s;
    }

#ParolaUitata:hover {
    color: red !important;
}

