body {
    display: flex;

}
.sideMenu {
    height: 100vh;
    width: 13vw;
    min-width: 200px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 0;
    border: 1px solid aquamarine;
    background-color: aquamarine;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
#xBtn{
    color: red;
    visibility:hidden;
}
#xBtn:hover{
    color: white;
}
#logoMenu{
    height: 20vh;
}
#menuBtn {
    display: none;
    height: 20vh;
    color: black;
    position: absolute;
    right: 10vw;
    margin-top: 40px;
}
#butonMeniu, #butonMeniu a {
    height: 5vh;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 8px;
    color: black;
    text-decoration:none;
}
#butonMeniu:hover, #butonMeniu a:hover{
    background-color: oldlace;
}
#butonMeniu p {
    margin: 0;
    color: black;
    font-weight: 400;
}
#butonMeniu #paginaCurenta {
    font-weight: 800;
}
#butoaneJos a {
    padding: 0;
    text-decoration: none;
}
.butoaneJos {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.butoaneJos a {
    width: 100%;
    padding: 0;
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    text-decoration: none;
}
.logoutBtn:hover{
    background-color: red !important;
    opacity: 0.8;
}
#imgProf {
    border-radius: 50%;
    height: 25vh;
    width: 13vw;
    margin-top: 2vh;
    flex-grow: 1;
    border: 1px solid aquamarine;
}
#sectiuneSus{
    position: absolute;
    display: flex;
    margin-left: 8vw;
}
#sectiuneSus h5 {
    font-weight: 800;
    margin-top: 7vh;
}
#stats { 
    display: flex;
    flex-direction: column;
    margin-left: 2vw;
}
#bio {
    white-space: pre-wrap;
    width: 20vw;
    height: 12vh;
    margin-top: 25px;
}
#PaginaProfil {
    position: absolute;
    display: flex;
    flex-direction: column;
    height: 95vh;
    width: 70vw;
    right: -25%;
    top: 50%;
    transform: translate(-50%, -50%);
}
hr{
    margin-top: 35vh;
}

#dateFllw{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
#butoane{
    display: flex;
    flex-direction: row;
}
#butoanePaginiProfil{
    position: absolute;
    margin-top: 31vh;
    display: flex;
    flex-direction: row;
    gap:0;

}
#butoanePaginiProfil button{
    width: 10vw;
    height: 4vh;
    background: none;
    border: none;
}
#butoanePaginiProfil button:hover {
    background-color: rgba(127, 255, 212,0.1);
}
#paginaPostari, #paginaTravelGr {
    height: auto;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
#paginaPostari img, #paginaTravelGr img{
    width: 200px;
    margin-top: 10%;
}
#addPost {
    background-color: darkgreen !important;
    color: white !important;
    border-radius: 30vh;
    width: 200px;
    border: 1px white solid !important;
}

#addPost:hover {
    border: 1px black solid !important;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2) !important;
    background-color: white !important;
    transition: linear 0.2s;
    color: black !important;
}
#MentionedProfil{
    display:none;
}
#newPostForm {
    width: 70vw;
    min-width: 500px;
    height: 70vh;
    background-color: aliceblue;
    border: 2px solid aquamarine;
    display: none;
    position: relative;
    margin-top: -65vh;
    flex-direction: row;
}
#newPostForm i {
    position: absolute;
    top: 10px;
    right: 10px; 
    cursor: pointer;
}
#newPostForm i:hover{
    color: red;
}
#newPostForm form {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}
#addPhotos {
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#descrierePoze {
    border-left: 2px solid black;
    width: 35vw;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#addMedia{
    display: none;
}
#AddPozePostareForm{
    cursor: pointer;
}
#AddPozePostareForm:hover {
    opacity: 0.8
}
#addLocatie, #addDescriere, #tagUseri {
    margin-top: 20px;
    font-size: 20px;
    color: #0A333D;
}
#descrierePoze #inputLocatie, #descrierePoze #inputTag {
    border-radius: 25px;
    width: 15vw;
    border: 2px solid blue;
    text-align: center;
}
#descrierePoze textarea{
    resize:none;
    border: 2px solid blue;
    width: 15vw;
    height: 10vh;
    background: none;
}
#rezultateTag{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.tagRezultat {
    margin: 0;
    border: 1px solid black;
    border-radius: 25px;
    width: 16vw;
    text-align: center;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    gap: 10px;
    padding: 2px;
}
.tagRezultat img {
    width: 50px !important;
    height: 50px !important;
    border-radius: 50%;
    align-self: center !important;
    margin-top: 0px !important;
}
.tagRezultat:hover{
    border: 1px solid white;
    color: white;
    background-color: black;
}
@media only screen and (max-width: 500px) {
        #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 40px;
    }
    .sideMenu {
        width: 100%;
    }
    .butoaneJos{
        margin-top:0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .sideMenu {
        width: 100%;
    }

    #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 20px;
    }
    .butoaneJos {
        margin-top: 0;
    }
}