.sideMenu{
    height: 100vh;
    width: 13vw;
    min-width: 200px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 0;
    border: 1px solid limegreen;
    background-color: aquamarine;
    justify-content: start;
    align-items: center;
    display: flex;
    flex-direction: column;
}
#xBtn{
    color: red;
    visibility:hidden;
}
#xBtn:hover{
    color: white;
}
#logoMenu{
    height: 20vh;
}
#menuBtn {
    display: none;
    height: 20vh;
    color: black;
    position: absolute;
    right: 10vw;
    margin-top: 40px;
}
#butonMeniu {
    height: 5vh;
    width: 100%;
    background-color: aquamarine;
    display: flex;
    gap: 10px;
    justify-content: center;
    text-align: center;
    align-items: center;
    padding: 0;
    margin: 8px;
}
#butonMeniu:hover{
    background-color: oldlace;
}
#butonMeniu p {
    margin: 0;
    color: black;
    font-weight: 400;
}
#butonMeniu #paginaCurenta {
    font-weight: 800;
}
.butoaneJos {
    width:100%;
    padding:0;
    margin: 0;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    align-items: center; 
}
.logoutBtn:hover{
    background-color: red !important;
    opacity: 0.8;
}
#imgProf{
    border: 2px solid green;
    border-radius: 50%;
    height: 25vh;
    margin-left: 5vw;
    margin-top: 2vh;
}
@media only screen and (max-width: 500px) {
    #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 40px;
    }
    .sideMenu {
        width: 100%;
    }
    .butoaneJos{
        margin-top:0;
    }
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
    .sideMenu {
        width: 100%;
    }

    #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 20px;
    }
    .butoaneJos {
        margin-top: 0;
    }
}