.sideMenu{
    height: 100vh;
    width: 13vw;
    min-width: 200px;
    padding: 0;
    display: flex;
    position: absolute;
    left: 0;
    border: 1px solid limegreen;
    background-color: aquamarine;
    justify-content: center;
    align-items: start;
}
#xBtn{
    color: red;
    visibility:hidden;
}
#xBtn:hover{
    color: white;
}
#logoMenu{
    height: 20vh;
}
#menuBtn {
    display: none;
    height: 20vh;
    color: black;
    position: absolute;
    right: 10vw;
    margin-top: 40px;
}
@media only screen and (max-width: 500px) {
    #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 40px;
    }
    .sideMenu {
        width: 100%;
    }
}
@media only screen and (min-width: 600px) and (max-width: 800px) {
    .sideMenu {
        width: 100%;
    }

    #xBtn {
        visibility: visible;
        position: absolute;
        right: 10vw;
        margin-top: 20px;
    }
}