@model TravelNest.Models.TravelGroup
<html>
    <head>
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" rel="stylesheet">
        <link rel="stylesheet" href="~/css/Profil.css">
        <link rel="stylesheet" href="~/css/foryou.css">
    </head>
    <body>
        <i id="menuBtn" class="fa-solid fa-bars"></i>
        <div class="sideMenu">
            <img id="logoMenu" src="~/images/logoMenu.png" />
            <div id="butonMeniu">
                <a asp-controller="Profil" asp-action="Index" asp-route-id="">
                    <p>Profile</p>
                </a>
            </div>
            <div id="butonMeniu">
                <a asp-controller="Notifications" asp-action="Index">
                    <p>Notifications</p>
                    <span id="punctRosu" style="display:none;">0</span>
                </a>
            </div>
            <div id="butonMeniu">
                <a asp-controller="ForYou" asp-action="Index">
                    <p id="paginaCurenta">For You</p>
                </a>
            </div>
            <div id="butonMeniu" class="AddPost2">
                <p>New Post</p>
            </div>
            <div id="butonMeniu">
                <a asp-controller="TravelGroup" asp-action="Index">
                    <p>New Travel Group</p>
                </a>
            </div>
            <div id="butonMeniu">
                <p>Search Destination</p>
            </div>
            <div id="butonMeniu">
                <p>Find Accommodation</p>
            </div>
            <div id="butonMeniu">
                <p>Travel Map</p>
            </div>
            <div class="butoaneJos">

                <div id="butonMeniu">
                    <a asp-controller="Settings" asp-action="Index">
                        <p>Settings</p>
                    </a>
                </div>
                <div id="butonMeniu" class="logoutBtn">
                    <a asp-area="Identity" asp-page="/Account/Logout">
                        <p>Logout</p>
                    </a>
                </div>
            </div>
        </div>
        <div id="sectiuneForYou">
            <div id="antet">
                <div id="searchUtilizatori">
                    <i id="lupaIcon" class="fa-solid fa-magnifying-glass"></i>
                    <input id="inputCautare" type="text" placeholder="Search users..">
                    <div id="rezultateCautare" style="display: none;"></div>
                </div>
                <div id="zonaProfil">
                    <div id="butonChat">
                        <i class="fa-solid fa-comment-dots"></i>   
                    </div>
                </div>
            </div>

            <div id="postariTrending">
            </div>
        </div>
    </body>
    <script src="~/js/butonSideMenu.js" asp-append-version="true"></script>
    <script src="~/js/popUpPostare.js" asp-append-version="true"></script>
    <script src="~/js/profil.js" asp-append-version="true"></script>
    <script src="~/js/replysComs.js" asp-append-version="true"></script>
    <script src="~/js/foryou.js" asp-append-version="true"></script>
</html>