@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Confirm email";
}
<head>
    <link rel="stylesheet" href="~/css/ConfirmEmail.css">
</head>
<h1>@ViewData["Title"]</h1>
<partial name="_StatusMessage" model="Model.StatusMessage" />
