@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}
<head>
    <link rel="stylesheet" href="~/css/ConfirmEmail.css">
</head>
<h1>@ViewData["Title"]</h1>
<p>
        Please check your email to confirm your account.
</p>
