@page
@model ResetPasswordConfirmationModel
<head>
    <link rel="stylesheet" href="~/css/ConfirmEmail.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div id="boxNotificare">
    <i class="fa fa-check-circle"></i>
    <br />
    <p>
        Your password has been reset. 
        <br />
        Please <a asp-page="./Login">click here to log in</a>.
    </p>
</div>

