@model List<string>
@using System.Text.Json
<html>
<head>
    <link rel="stylesheet" href="~/css/map.css">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js"></script>
</head>
<body>
    <script>
        window.tariVizitate = @Html.Raw(JsonSerializer.Serialize(Model));
    </script>

    <div id="mapWrapper">
        <div id="controlPanel">
            <h2 id="mapTitle">Travel Map</h2>
            <div id="statsContainer">
                <div id="countryStats"><span id="totalCount">0</span>/<span id="totalCountries">195</span></div>
                <div id="progressPercentage">0%</div>
            </div>
        </div>
        <div id="globalMap"></div>
    </div>
    @section Scripts{
    <script src="~/js/scratchMap.js" asp-append-version="true"></script>
    }
    </body>
</html>